

 body
{
    background-size: cover;
}
.topnav ul {
  position: absolute;
  width: 630px;
  height: 50px;
  left: 570px;
  top: 40px;
  list-style-type: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  padding-bottom: 7 0px  ;
  padding-right: 80px;
  
  
}
.topnav li
{
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  
  color: #FFFFFF;
}


.topnav li:hover {
color: white;
border-bottom: 3px solid white;
}




.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

#I1{
margin-left: 50px;
margin-top: 40px;
}

hr {
    background-color: white;
    position: absolute;
    width: 400px;
    height: 0.1px;
    border: 0.05em;
    left:200px;
    top:90px;
    color: white;
    z-index: 1;
}



  
  .topnav a.active {
    color: white;
    border-bottom: 3px solid white;
  }


  .main-title {
    position: absolute;
    color: #fff;
    font-size: 28px;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 4.72px;
    margin-bottom: 64px;
    width: 600px;
    height: 34px;
    left: 166.5px;
    top:212px;
}

.main-title b{
  margin-right: 28px;
    color: #979797;
}


#p1{
    position: absolute;
width: 214px;
height: 37px;
left: 165.5px;
top: 400px;

font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}


#p2{
    
position: absolute;
width: 688px;
height: 64px;
left: 165.5px;
top: 452px;

font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
text-transform: uppercase;

color: #FFFFFF;
}


#p3{

    position: absolute;
    width: 444px;
    height: 128px;
    left: 165px;
    top: 543px;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    
    
    color: #D0D6F9;
    
}




.main-image{
    position: absolute;
width: 568.07px;
height: 612px;
left: 734.93px;
top: 198px;
}
#d2
{
    opacity: 0;
}
#d3
{
    opacity: 0;
}
#d4
{
    opacity: 0;
}



.main-image2{
    position: absolute;
width: 453.44px;
height: 554px;
left: 800px;
top: 246px;
}


#d7{
    position: absolute;
width: 132px;
height: 15px;
left: 167px;
top: 761px;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: grey;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid grey;
}


input[type='radio']:hover:after{
    background-color: rgb(180, 179, 179);
    border: 2px solid rgb(180, 179, 179);
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid grey;
}





